/* Base styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    font-size: 1.2em;
}

button a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: #007bff;
    border-radius: 5px;
}

section {
    padding: 40px 0;
    text-align: center;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 20px;
}

ul li {
    font-size: 1.2em;
    margin-bottom: 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Add responsiveness */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}

/* Skills Section styling */
#skills ul {
    display: inline-block;
    text-align: left;
    margin-top: 10px;
}

#skills p {
    font-size: 1.1em;
    margin-top: 20px;
}
